tmp
tmp/*
wlcsim/tabulation/*
data/*
*.o
trash/*
.DS_store
*.out
tags
*~
.*.sw*
.DS_Store
*.mod
vizualization/xyz/*
vizualization/pymol/pdb/*
analysis/data/*
vizualization/pdb0/*
vizualization/png/*
par-run-dir
__pycache__
*.pyc
*.egg-info
doc/_build
*.lof
*.log
*.lot
*.toc
*.out
*.aux
*.pdb
input/params
input/*loops*txt
stdout.txt
input/ab
input/bindpairs
input/bindpairs_chrom*
input/loop_growth_eq*
error
input/spiders
input/meth
input/_temp*
input/polyLengths
input/field_l2
.vscode
.vscode/*
input/Voong_LL.txt
input/Voong_LL_23to55.txt
