data/*
*.o
trash/*
.DS_store
*.out
tags
*~
.*.sw*
.DS_Store
*.mod
vizualization/xyz/*
vizualization/pdb/*
vizualization/pdb0/*
vizualization/png/*
par-run-dir
__pycache__
*.pyc
*.egg-info
doc/_build
*.lof
*.log
*.lot
*.toc
*.out
*.aux
input/params
input/*loops*txt
stdout.txt
